<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
</head>
<body>
	<a th:href="@{/sach}">List Book</a><br />

	<h1>Edit Book:</h1>
	<form th:action="@{/updateSach}" method="POST" th:object="${sach}">
    	Id: <input th:field="*{id}" readonly="true" /> <br/> <br/>
    	Name: <input type="text" th:field="*{name}" required="required"/> <br/> <br/>
    	Quantity: <input type="number" min="1" th:field="*{quantity}" required="required"/> <br/> <br/>
    	Author: 
    	<select th:field="*{tacGia.id}">
                         
                         <option th:each="author : ${listTacgia}"
                            th:value="${author.id}"
                            th:utext="${author.name}"/>
                  </select><br/>
                  
		<input type="submit" value="Submit" />
	</form>
</body>
</html>