<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Demo Spring boot - hibernate - Thymeleaf</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<h1>List Author:</h1>
		<a style="float:right;" th:href="@{/sach}">Quản lý sách</a>
	</div>
	<button type="button" class="btn btn-info " data-toggle="modal" data-target="#modal-add">Thêm tác giả</button>
	
	
	<br />
	<font style="color:red;"><i><span th:text="${msg}"></span></i></font>
	<br />

	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Phone</th>
			
			<th>View</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<th:block th:each="bk : ${listTacgia}">
			<tr>
				<td><p th:text="${bk.id}"></p></td>
				<td><p th:text="${bk.name}"></p></td>
				<td><p th:text="${bk.phone}"></p></td>
				
				<td><a href="#" data-toggle="modal" data-target="#modal-view" th:onclick="'pass_view('+${bk.id}+',\'' + ${bk.name} + '\',\''+${bk.phone}+'\');'">View</a></td>
				<td><a href="#" data-toggle="modal" data-target="#modal-edit" th:onclick="'pass_edit('+${bk.id}+',\'' + ${bk.name} + '\',\''+${bk.phone}+'\');'">Edit</a></td>
				<td><a href="#" data-toggle="modal" data-target="#modal-del" th:onclick="'pass_del('+${bk.id}+');'">Delete</a></td>
			</tr>
		</th:block>
	</table>
	<!-- modal add-->
	  <div class="modal fade" id="modal-add" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Thêm mới tác giả:</h4>
	        </div>
	        <form th:action="@{/saveTacgia}" method="POST" th:object="${tacgia}">
		        <div class="modal-body">
		        	<div class='col-sm-12'>
					     <label >Name :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input class="form-control" th:field="*{name}" required="required"/>
					                </div>
					          </div>
					</div>
			    	 <div class='col-sm-12'>
					     <label >Phone :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input class="form-control" type="text"  th:field="*{phone}" required="required" />
					                </div>
					          </div>
					</div>
			    	
					
					
		        </div>
		        <div class="clearfix"></div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		          <button type="reset" class="btn btn-default" >Reset</button>
		          <button type="submit" class="btn btn-default" >Save</button>
		        </div>
		        
	        </form>
	      </div>
	      
	    </div>
	  </div>
	  <!-- end modal add -->
	<!-- modal view-->
	  <div class="modal fade" id="modal-view" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Thông tin tác giả:</h4>
	        </div>
	        	<div class="modal-body">
		        	<div class='col-sm-12'>
					     <label >Id :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input id="vid" class="form-control"  readonly="readonly"/>
					                </div>
					          </div>
					</div>
					</div>
		        <div class="modal-body">
		        	<div class='col-sm-12'>
					     <label >Name :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input id="vname" class="form-control" readonly="readonly"/>
					                </div>
					          </div>
					</div>
			    	 <div class='col-sm-12'>
					     <label >Phone :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input id="vphone" class="form-control" type="text"  readonly="readonly" />
					                </div>
					          </div>
					</div>
			    	
					
					
		        </div>
		        <div class="clearfix"></div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		        
	        
	      </div>
	     
	    </div>
	  </div>
	  <!-- end modal view -->
	  <!-- modal edit-->
	  <div class="modal fade" id="modal-edit" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Sửa thông tin tác giả:</h4>
	        </div>
	        	<form th:action="@{/updateTacgia}" method="POST" th:object="${tacgia}">
	        	
		        <div class="modal-body">
		        <div class='col-sm-12'>
					     <label >Id :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input id="eid" class="form-control" th:field="*{id}"  readonly="readonly"/>
					                </div>
					          </div>
					</div>
		        	<div class='col-sm-12'>
					     <label >Name :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input id="ename" class="form-control" th:field="*{name}" />
					                </div>
					          </div>
					</div>
			    	 <div class='col-sm-12'>
					     <label >Phone :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                     <input id="ephone" class="form-control" type="text"  th:field="*{phone}"   />
					                </div>
					          </div>
					</div>
			   
					
					
		        </div>
		        <div class="clearfix"></div>
		        <div class="modal-footer">
		          
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		          <button type="reset" class="btn btn-default" >Reset</button>
		          <button type="submit" class="btn btn-default" >Save</button>
		        </div>
		        
	        </form>
	      </div>
	     
	    </div>
	  </div>
	  <!-- end modal edit -->
	   <!-- modal delete-->
	  <div class="modal fade" id="modal-del" role="dialog">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Xóa tác giả:</h4>
	        </div>
	        	
	        	<div class="modal-body">
		        	<div class='col-sm-12'>
					     <label >Xác nhận xóa :</label>
					           <div class="form-group">
					                <div class="form-group" >
					                    
					                </div>
					          </div>
					</div>
					</div>
		      
		        <div class="clearfix"></div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		          
		          <a  id="sbmit" class="btn btn-default" >Delete</a>
		        </div>
		        
	        
	      </div>
	     
	    </div>
	  </div>
	  <!-- end modal delete -->
		<script type="text/javascript">
			    function pass_view(id,name,phone) {
			    	document.getElementById("vid").value=id;
			    	document.getElementById("vname").value=name;
			    	document.getElementById("vphone").value=phone;
			    	
			    };
			    function pass_edit(id,name,phone) {
			    	document.getElementById("eid").value=id;
			    	document.getElementById("ename").value=name;
			    	document.getElementById("ephone").value=phone;
			    	
			    };
			    function pass_del(id) {
			    	document.getElementById("sbmit").href="/deleteTacgia/id="+id;
			    	
			    };
			</script>
</body>
</html>