/*TalkltThru.html*/
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_11 { padding-left: 37% !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 { background-color:#303030; padding-top:78px; order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 { order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_11 h3 { margin-bottom: 15px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_12 p { line-height: 1.8em; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_5 { margin-top: 14px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_12 { font-weight: bold;font-size: 14px; line-height: 1.8em; margin-left: 52% !important; max-width: 140px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 { order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 { order: 1; }
.tm_pb_brands_showcase_module_0.tm_pb_bg_layout_light .tm_pb_brands_showcase_module__divider { height: 1px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_3 { margin-bottom: 7px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_section_4 { background-color:#363d47; padding-top: 43px; padding-bottom: 59px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 { order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_section_5 { background-image:url(/assets/TalkItThru_files/img6.jpg); padding-top: 40px; padding-bottom: 43px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_4 { margin-bottom: 34px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_13 { padding-left: 37% !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_13 h3 { margin-bottom: 15px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_17 h3 { margin-bottom: 15px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 { order: 2; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_18 p { line-height: 1.8em; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_18 { font-weight: bold;font-size: 14px; line-height: 1.8em; max-width: 200px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_6 { margin-top: 30px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 { background-color:#303030; order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_16 { font-weight: bold;font-size: 14px; line-height: 1.8em; max-width: 140px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_16 p { line-height: 1.8em; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_14 { font-weight: bold;font-size: 14px; line-height: 1.8em; margin-left: 52% !important; max-width: 200px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_14 p { line-height: 1.8em; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 { order: 2; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_section_7 { background-color:#303030; padding-top: 30px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_15 h3 { margin-bottom: 15px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 { order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 { order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_section_3 { padding-top: 58px; padding-bottom: 33px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_2.tm_pb_slider_with_text_overlay .tm_pb_slide_content { -webkit-border-bottom-right-radius: 3px;
					-webkit-border-bottom-left-radius: 3px;
					-moz-border-radius-bottomright: 3px;
					-moz-border-radius-bottomleft: 3px;
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_2.tm_pb_slider_with_text_overlay h2.tm_pb_slide_title { -webkit-border-top-left-radius: 3px;
					-webkit-border-top-right-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-topright: 3px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slider_0.tm_pb_slider { line-height: 1.4em; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slider_0.tm_pb_slider .tm_pb_slide_content { font-size: 62px; line-height: 1.4em; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 { order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 { background-image:url(/assets/images/TalkItThru_files/img5.jpg); padding-top:75px; padding-bottom:172px; order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_2 .tm_pb_slide_description { max-width:490px;margin-right: 0;margin-left:auto; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_1.tm_pb_slider_with_text_overlay .tm_pb_slide_content { -webkit-border-bottom-right-radius: 3px;
					-webkit-border-bottom-left-radius: 3px;
					-moz-border-radius-bottomright: 3px;
					-moz-border-radius-bottomleft: 3px;
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_0.tm_pb_slider_with_text_overlay h2.tm_pb_slide_title { -webkit-border-top-left-radius: 3px;
					-webkit-border-top-right-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-topright: 3px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_0 .tm_pb_slide_description { max-width:450px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_0.tm_pb_slider_with_text_overlay .tm_pb_slide_content { -webkit-border-bottom-right-radius: 3px;
					-webkit-border-bottom-left-radius: 3px;
					-moz-border-radius-bottomright: 3px;
					-moz-border-radius-bottomleft: 3px;
					border-bottom-right-radius: 3px;
					border-bottom-left-radius: 3px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_1 .tm_pb_slide_description { max-width:440px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_1.tm_pb_slider_with_text_overlay h2.tm_pb_slide_title { -webkit-border-top-left-radius: 3px;
					-webkit-border-top-right-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-topright: 3px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 { margin-top: 45px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 { font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;font-size: 30px; color: #333333 !important; margin-left: 40% !important; max-width: 310px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_4 { font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;font-size: 30px; color: #333333 !important; margin-left: 40% !important; max-width: 310px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 { margin-top: 55px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 { margin-top: 45px !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_5 { margin-left: 50% !important; max-width: 325px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_6 { margin-left: 50% !important; max-width: 325px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_1 { margin-left: 50% !important; max-width: 325px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_image_0 { margin-left: 0; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 { margin-left: 50% !important; max-width: 325px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_2 { margin-left: 50% !important; max-width: 325px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_text_7 { margin-left: 50% !important; max-width: 325px; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 { background-image:url(/assets/TalkItThru_files/img4.jpg); order: 2; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 { padding-top:35px; padding-bottom:50px; order: 1; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_section_2 { background-image:url(/assets/TalkItThru_files/img5.jpg); }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_0 .tm_pb_slide_content { color: #ffffff !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_2 .tm_pb_slide_content { color: #ffffff !important; }
.tm_pb_builder #tm_builder_outer_content .tm_pb_slide_1 .tm_pb_slide_content { color: #ffffff !important; }

@media only screen and ( min-width: 992px ) and ( max-width: 1440px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_7 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_5 { padding-top: 50px;padding-bottom: 40px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_4 { padding-top: 70px;padding-bottom: 70px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_12 { margin-left: 42% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_7 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_14 { margin-left: 42% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 { order: 2; }
	.tm_pb_brands_showcase_module_0.tm_pb_bg_layout_light .tm_pb_brands_showcase_module__divider { height: 1px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_2 { margin-left: 40% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 { margin-left: 40% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_1 { margin-left: 40% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_slider_0.tm_pb_slider .tm_pb_slide_content { font-size: 54px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_2 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_3 { padding-top: 50px;padding-bottom: 30px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_7 { margin-left: 40% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_6 { margin-left: 40% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_4 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_5 { margin-left: 40% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 { order: 1; }
}

@media only screen and ( max-width: 991px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_5 { padding-top: 50px;padding-bottom: 35px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_3 { padding-top: 40px;padding-bottom: 25px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_4 { padding-top: 60px;padding-bottom: 42px; }
	.tm_pb_brands_showcase_module_0.tm_pb_bg_layout_light .tm_pb_brands_showcase_module__divider { height: 1px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 { order: 1; }
}

@media only screen and ( max-width: 767px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_9 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_8 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_6 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_7 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_10 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_6 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_13 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_12 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_11 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_6 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_5 { padding-top: 40px;padding-bottom: 40px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_1 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 { order: 2; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_3 { padding-top: 40px;padding-bottom: 30px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_5 { order: 1; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_4 { padding-top: 40px;padding-bottom: 40px; }
	.tm_pb_brands_showcase_module_0.tm_pb_bg_layout_light .tm_pb_brands_showcase_module__divider { height: 1px; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 { order: 1; }
}

@media (max-width: 991px) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_11 { padding-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_7 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_12 { margin-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_13 { padding-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_14 { margin-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_6 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_5 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_1 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 { margin-left: 20% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_2 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_4 { margin-left: 20% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_slider_0.tm_pb_slider .tm_pb_slide_content { font-size: 32px; }
}

@media (max-width: 767px) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_7 { margin-left: 5% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_6 { margin-left: 5% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_11 { padding-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_12 { margin-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_14 { margin-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_13 { padding-left: 15% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_5 { margin-left: 5% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_4 { margin-left: 5% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_1 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 { margin-left: 20% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_2 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_text_3 { margin-left: 30% !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 { margin-top: 15px !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_slider_0.tm_pb_slider .tm_pb_slide_content { font-size: 20px; }
}

@media only screen and ( min-width: 768px ) and ( max-width: 991px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_7 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_6 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_1 { display: none !important; }
}

@media only screen and ( min-width: 1441px ) {
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_7 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_row_7 { display: none !important; }
	.tm_pb_builder #tm_builder_outer_content .tm_pb_section_2 { display: none !important; }
}


/*===========================================================================================*/
