       <header id="masthead" class="site-header minimal" role="banner">

        <div class="top-panel invert">
            <div class="top-panel__wrap container">
                <div class="top_panel_head">
                    <div class="top-panel__message">
                        <div class="info-block  left-side">Call today <a href="tel:#">+1 (504) 123 45 76</a></div>
                        <div class="info-block right-side"> 22 St. Black Road Orlando, PL 34578</div>
                    </div>
                </div>
                <div class="top_panel_bottom"></div>
            </div>
        </div><!-- .top-panel -->
        <div class="header-container">
            <div class="header-container_wrap container">

                <div class="header-container__flex">
                    <div class="site-branding">
                        <div class="site-logo"><a class="site-logo__link" href="/index" rel="home"><img
                                src="/assets/images/TalkItThru_files/logo.png" alt="TalkItThru" class="site-link__img"></a></div>
                    </div>
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                        <button class="menu-toggle" aria-controls="main-menu" aria-expanded="false">
                            <i class="menu-toggle__icon material-icons"></i>
                            Menu
                        </button>
                        <ul id="main-menu" class="menu">
                            <li id="menu-item-26"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26">
                                <span class="sub-menu-toggle"></span><a href="/aboutus">About us</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-34"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-34">
                                        <span class="sub-menu-toggle"></span><a href="#">Header Settings</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-35"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35">
                                                <a href="#">Header Style 1</a></li>
                                            <li id="menu-item-36"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36">
                                                <a href="#">Header Style 2</a></li>
                                            <li id="menu-item-37"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37">
                                                <a href="#">Header Style 3</a></li>
                                            <li id="menu-item-119"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-119">
                                                <a href="#">Header Style 4</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-38"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38">
                                        <span class="sub-menu-toggle"></span><a href="#">Footer
                                        Settings</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-54"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-54">
                                                <a href="#">Footer Style 1</a></li>
                                            <li id="menu-item-55"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55">
                                                <a href="#">Footer Style 2</a></li>
                                            <li id="menu-item-56"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56">
                                                <a href="#">Footer Style 3</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-63"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-63"><a
                                            href="#">Documentation</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-2613"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2613">
                                <span class="sub-menu-toggle"></span><a href="/services">Services</a>
                                <ul class="sub-menu" >
                                    <li *ngFor="let ser of services"
                                        class="menu-item menu-item-type-post_type menu-item-object-cherry-services">
                                        <a href="{{ser.path}}">{{ser.name}}</a></li>
                                   
                                </ul>
                                
                            </li>
                            <li id="menu-item-1298"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1298">
                                <span class="sub-menu-toggle"></span><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3274"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3274">
                                        <a href="#">Our Gallery</a></li>
                                    <li id="menu-item-23"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a
                                            href="#">Timetable</a></li>
                                    <li id="menu-item-53"
                                        class="menu-item men.u-item-type-post_type menu-item-object-page menu-item-53"><a
                                            href="#">Typography</a></li>
                                    <li id="menu-item-59"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-59">
                                        <a href="/notfound">404</a></li>
                                    <li id="menu-item-62"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a
                                            href="#">Static Elements</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-57"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-57">
                                <span class="sub-menu-toggle"></span><a href="/blog">News - Blog</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-82"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-82">
                                        <span class="sub-menu-toggle"></span><a href="./TalkItThru.html">Post
                                        Formats</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-81"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-81">
                                                <a href="#">Image Format</a></li>
                                            <li id="menu-item-80"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-80">
                                                <a href="#">Gallery Format</a></li>
                                            <li id="menu-item-79"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-79">
                                                <a href="#">Video Format</a></li>
                                            <li id="menu-item-77"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-77">
                                                <a href="#">Quote Format</a></li>
                                            <li id="menu-item-78"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-78">
                                                <a href="#">Link Format</a></li>
                                            <li id="menu-item-76"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-76">
                                                <a href="#">Audio Format</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-83"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-83">
                                        <span class="sub-menu-toggle"></span><a href="./TalkItThru.html">Blog Layout</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-84"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-84">
                                                <a href="#">Listing layout</a></li>
                                            <li id="menu-item-85"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-85">
                                                <a href="#">Listing layout 2</a></li>
                                            <li id="menu-item-86"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86">
                                                <a href="#">Masonry Layout</a></li>
                                            <li id="menu-item-87"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-87">
                                                <a href="#">Masonry Layout 3 cols</a></li>
                                            <li id="menu-item-88"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-88">
                                                <a href="#">Grid Layout</a></li>
                                            <li id="menu-item-89"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89">
                                                <a href="#">Grid Layout 3 cols</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-90"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-90">
                                        <span class="sub-menu-toggle"></span><a href="./TalkItThru.html">Sidebar
                                        Settings</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-91"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-91">
                                                <a href="#">Sidebar Left</a></li>
                                            <li id="menu-item-92"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-92">
                                                <a href="#">Sidebar Right</a></li>
                                            <li id="menu-item-93"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93">
                                                <a href="#">No sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-20"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a
                                    href="/contacts">Contact us</a></li>

                        </ul>
                    </nav><!-- #site-navigation -->
                    <a href="/request" class="btn btn-secondary booking left-icon">Book
                        an appointment</a></div>
            </div>
        </div>
</header>
