<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Access Denied</title>
	  <meta charset="utf-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}"/> 
</head>
 
<body class="container">
    <!-- Include _menu.html -->
    <th:block th:include="/menu"></th:block>
 
    <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
 
    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
    
     
</body>
 
</html>