<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Access Denied</title>
	  <meta charset="utf-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}"/> 
</head>
 
<body class="container">
    <!-- Include _menu.html -->
    <th:block th:include="/menu"></th:block>
 
    <form >
					        	<div class="modal-body">
					        	
					        		<input id="eid" type="hidden" class="form-control" required="required" name="flightID"  />
									<div class='col-sm-12'>
									     <label >ID :</label>
									           <div class="form-group">
									                <div class="form-group" >
									                     <input type="text" class="form-control"  required="required" id="idx"  />
									                </div>
									          </div>
									</div>
									<div class='col-sm-12'>
									     <label >Name:</label>
									           <div class="form-group">
									                <div class="form-group" >
									                     <input type="text" class="form-control"  required="required" id="namex"  />
									                </div>
									          </div>
									</div>
									<div class='col-sm-12'>
									     <label >Position :</label>
									           <div class="form-group">
									                <div class="form-group" >
									                     <input type="text" class="form-control" id="posx"   />
									                </div>
									          </div>
									</div>
								
								</div>
						      
						        <div class="clearfix"></div>
						        <div class="modal-footer">
						          
						          <button type="button" class="btn btn-primary" th:onclick="'booking();'">Xác nhận gửi</button>
						          
						        </div>
						         </form>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
     
</body>
 
</html>