

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
    order: 2;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1:before {
    border-top-width: 20px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
    height: 35px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2:before {
    border-top-width: 35px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
    order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_2 {
    background-image: url(/assets/images/Requestanappointment–TalkItThru_files/img34.jpg);
    padding-top: 104px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
    height: 20px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
    border-top-width: 35px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_1 {
    margin-top: -2.2em;
    padding-top: 90px;
    padding-right: 202px;
    padding-bottom: 100px;
    padding-left: 202px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
    order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
    order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_row_2 {
    background-color: #ffffff;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
    height: 35px;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
    order: 1;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_0 {
    margin-top: -2.2em;
    background-image: url(/assets/images/Requestanappointment–TalkItThru_files/img33.jpg);
    padding-top: 62px;
    padding-bottom: 60px;
}

@media only screen and ( min-width: 992px ) and ( max-width: 1440px ) {
    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
        order: 2;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
        height: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2:before {
        border-top-width: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1:before {
        border-top-width: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
        height: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
        height: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
        border-top-width: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
        order: 1;
    }
}

@media only screen and ( max-width: 991px ) {
    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
        order: 2;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1:before {
        border-top-width: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
        height: 20px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2:before {
        border-top-width: 20px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
        height: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
        border-top-width: 20px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_section_1 {
        padding-top: 25px;
        padding-right: 0px;
        padding-bottom: 101px;
        padding-left: 0px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
        height: 20px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
        order: 1;
    }
}

@media only screen and ( max-width: 767px ) {
    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_3 {
        order: 2;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1:before {
        border-top-width: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2 {
        height: 15px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_2:before {
        border-top-width: 15px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_4 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_1 {
        height: 1px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0:before {
        border-top-width: 15px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_section_1 {
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-left: 0px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_1 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_2 {
        order: 1;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_divider_0 {
        height: 15px;
    }

    .tm_pb_builder #tm_builder_outer_content .tm_pb_column_0 {
        order: 1;
    }
}
