 <div id="content" class="site-content container">

        <div class="site-content_wrap container">

            <div class="row">

                <div id="primary" class="col-xs-12 col-md-12 col-lg-8">

                    <main id="main" class="site-main" role="main">

                        <header>
                            <h1 class="page-title screen-reader-text">Blog</h1>
                        </header>


                        <div class="posts-list posts-list--default one-right-sidebar no-sidebars-before">


                            <article id="post-409"
                                     class="posts-list__item card post-409 post type-post status-publish format-standard has-post-thumbnail hentry category-success-stories category-tips tag-plastic-surgeries tag-reconstructive-surgery has-thumb">


                                <div class="post-list__item-content">

                                    <figure class="post-thumbnail">

                                        <a href="#" class="post-thumbnail__link post-thumbnail--fullwidth"><img
                                                class="post-thumbnail__img wp-post-image"
                                                src="/assets/images/Blog–TalkItThru_files/img19.jpg"
                                                alt="What Most People Wear When Depressed" width="1728"
                                                height="787"></a>


                                    </figure><!-- .post-thumbnail -->

                                    <header class="entry-header">


                                        <div class="entry-meta">
                                            <span class="post__date"><a href="#" class="post__date-link"><time
                                                    datetime="2016-12-04T15:41:56+00:00"
                                                    title="2016-12-04T15:41:56+00:00">4 December, 2016</time></a></span>
                                        </div><!-- .entry-meta -->


                                        <h2 class="entry-title"><a href="#" rel="bookmark">What Most People Wear When
                                            Depressed</a></h2></header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Choosing a fitting website template is probably the most responsible
                                            e-business task of them all…But cheer up, as we’ve prepared a lot of useful
                                            tips on this matter for you! When you need your company to have a new
                                            website or if you venture on updating your old webpage with a new look and
                                            functionality,…</p>
                                    </div><!-- .entry-content -->

                                </div><!-- .post-list__item-content -->

                                <footer class="entry-footer">

                                    <a href="#" class="btn btn-primary"><span class="btn__text">Read more</span><i
                                            class="material-icons">arrow_forward</i></a></footer><!-- .entry-footer -->

                            </article><!-- #post-## -->
                            <article id="post-407"
                                     class="posts-list__item card post-407 post type-post status-publish format-standard has-post-thumbnail hentry category-female-reproductive-health tag-reconstructive-surgery tag-surgical-equipment has-thumb">


                                <div class="post-list__item-content">

                                    <figure class="post-thumbnail">

                                        <a href="#" class="post-thumbnail__link post-thumbnail--fullwidth"><img
                                                class="post-thumbnail__img wp-post-image"
                                                src="/assets/images/Blog–TalkItThru_files/img20.jpg"
                                                alt="What Is Anxiety? Discover The Symptoms!" width="1728" height="787"></a>


                                    </figure><!-- .post-thumbnail -->

                                    <header class="entry-header">


                                        <div class="entry-meta">
                                            <span class="post__date"><a href="#" class="post__date-link"><time
                                                    datetime="2016-12-04T15:40:53+00:00"
                                                    title="2016-12-04T15:40:53+00:00">4 December, 2016</time></a></span>
                                        </div><!-- .entry-meta -->


                                        <h2 class="entry-title"><a href="#" rel="bookmark">What Is Anxiety? Discover The
                                            Symptoms!</a></h2></header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Choosing a fitting website template is probably the most responsible
                                            e-business task of them all…But cheer up, as we’ve prepared a lot of useful
                                            tips on this matter for you! When you need your company to have a new
                                            website or if you venture on updating your old webpage with a new look and
                                            functionality,…</p>
                                    </div><!-- .entry-content -->

                                </div><!-- .post-list__item-content -->

                                <footer class="entry-footer">

                                    <a href="#" class="btn btn-primary"><span class="btn__text">Read more</span><i
                                            class="material-icons">arrow_forward</i></a></footer><!-- .entry-footer -->

                            </article><!-- #post-## -->
                            <article id="post-401"
                                     class="posts-list__item card post-401 post type-post status-publish format-standard has-post-thumbnail hentry category-artificial-options category-same-sex-parents category-tips tag-neurosurgery tag-pediatric-surgery tag-reconstructive-surgery has-thumb">


                                <div class="post-list__item-content">

                                    <figure class="post-thumbnail">

                                        <a href="#" class="post-thumbnail__link post-thumbnail--fullwidth"><img
                                                class="post-thumbnail__img wp-post-image"
                                                src="/assets/images/Blog–TalkItThru_files/img21.jpg"
                                                alt="Right Type of Socializing Boosts Intelligence" width="1728"
                                                height="787"></a>


                                    </figure><!-- .post-thumbnail -->

                                    <header class="entry-header">


                                        <div class="entry-meta">
                                            <span class="post__date"><a href="#" class="post__date-link"><time
                                                    datetime="2016-12-04T15:38:44+00:00"
                                                    title="2016-12-04T15:38:44+00:00">4 December, 2016</time></a></span>
                                        </div><!-- .entry-meta -->


                                        <h2 class="entry-title"><a href="#" rel="bookmark">Right Type of Socializing
                                            Boosts Intelligence</a></h2></header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Choosing a fitting website template is probably the most responsible
                                            e-business task of them all…But cheer up, as we’ve prepared a lot of useful
                                            tips on this matter for you! When you need your company to have a new
                                            website or if you venture on updating your old webpage with a new look and
                                            functionality,…</p>
                                    </div><!-- .entry-content -->

                                </div><!-- .post-list__item-content -->

                                <footer class="entry-footer">

                                    <a href="#" class="btn btn-primary"><span class="btn__text">Read more</span><i
                                            class="material-icons">arrow_forward</i></a></footer><!-- .entry-footer -->

                            </article><!-- #post-## -->
                            <article id="post-1106"
                                     class="posts-list__item card post-1106 post type-post status-publish format-standard has-post-thumbnail hentry category-interviews tag-liposuction has-thumb">


                                <div class="post-list__item-content">

                                    <figure class="post-thumbnail">

                                        <a href="#" class="post-thumbnail__link post-thumbnail--fullwidth"><img
                                                class="post-thumbnail__img wp-post-image"
                                                src="/assets/images/Blog–TalkItThru_files/img22.jpg"
                                                alt="When Learning a New Language Stops Strengthening The Brain"
                                                width="1728" height="787"></a>


                                    </figure><!-- .post-thumbnail -->

                                    <header class="entry-header">


                                        <div class="entry-meta">
                                            <span class="post__date"><a href="#" class="post__date-link"><time
                                                    datetime="2016-11-27T17:36:12+00:00"
                                                    title="2016-11-27T17:36:12+00:00">27 November, 2016</time></a></span>
                                        </div><!-- .entry-meta -->


                                        <h2 class="entry-title"><a href="#" rel="bookmark">When Learning a New Language
                                            Stops Strengthening The Brain</a></h2></header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Choosing a fitting website template is probably the most responsible
                                            e-business task of them all…But cheer up, as we’ve prepared a lot of useful
                                            tips on this matter for you! When you need your company to have a new
                                            website or if you venture on updating your old webpage with a new look and
                                            functionality,…</p>
                                    </div><!-- .entry-content -->

                                </div><!-- .post-list__item-content -->

                                <footer class="entry-footer">

                                    <a href="#" class="btn btn-primary"><span class="btn__text">Read more</span><i
                                            class="material-icons">arrow_forward</i></a></footer><!-- .entry-footer -->

                            </article><!-- #post-## -->
                            <article id="post-1104"
                                     class="posts-list__item card post-1104 post type-post status-publish format-standard has-post-thumbnail hentry category-success-stories tag-neurosurgery has-thumb">


                                <div class="post-list__item-content">

                                    <figure class="post-thumbnail">

                                        <a href="#" class="post-thumbnail__link post-thumbnail--fullwidth"><img
                                                class="post-thumbnail__img wp-post-image"
                                                src="/assets/images/Blog–TalkItThru_files/img23.jpg"
                                                alt="Psychotherapy Works Best In The Morning" width="1728" height="787"></a>


                                    </figure><!-- .post-thumbnail -->

                                    <header class="entry-header">


                                        <div class="entry-meta">
                                            <span class="post__date"><a href="#" class="post__date-link"><time
                                                    datetime="2016-11-27T17:34:25+00:00"
                                                    title="2016-11-27T17:34:25+00:00">27 November, 2016</time></a></span>
                                        </div><!-- .entry-meta -->


                                        <h2 class="entry-title"><a href="#" rel="bookmark">Psychotherapy Works Best In
                                            The Morning</a></h2></header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Choosing a fitting website template is probably the most responsible
                                            e-business task of them all…But cheer up, as we’ve prepared a lot of useful
                                            tips on this matter for you! When you need your company to have a new
                                            website or if you venture on updating your old webpage with a new look and
                                            functionality,…</p>
                                    </div><!-- .entry-content -->

                                </div><!-- .post-list__item-content -->

                                <footer class="entry-footer">

                                    <a href="#" class="btn btn-primary"><span class="btn__text">Read more</span><i
                                            class="material-icons">arrow_forward</i></a></footer><!-- .entry-footer -->

                            </article><!-- #post-## -->

                        </div><!-- .posts-list -->


                        <nav class="navigation pagination" role="navigation">
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            <div class="nav-links"><span class="page-numbers current">1</span>
                                <a class="page-numbers" href="#">2</a>
                                <a class="page-numbers" href="#">3</a>
                                <a class="next page-numbers" href="#"><i class="material-icons">navigate_next</i></a>
                            </div>
                        </nav>
                    </main><!-- #main -->


                </div><!-- #primary -->


                <div id="sidebar" class="col-xs-12 col-md-12 col-lg-4 sidebar widget-area" role="complementary">
                    <aside id="archives-2" class="widget widget_archive"><h2 class="widget-title">Archives</h2>
                        <ul>
                            <li><a href="#">December 2016</a></li>
                            <li><a href="#">November 2016</a></li>
                            <li><a href="#">October 2016</a></li>
                        </ul>
                    </aside>
                    <aside id="categories-3" class="widget widget_categories"><h2 class="widget-title">Categories</h2>
                        <ul>
                            <li class="cat-item cat-item-18"><a href="#">Artificial Options</a> (2)
                            </li>
                            <li class="cat-item cat-item-17"><a href="#">Doctors</a> (2)
                            </li>
                            <li class="cat-item cat-item-12"><a href="#">Female Reproductive Health</a> (2)
                            </li>
                            <li class="cat-item cat-item-19"><a href="#">Interviews</a> (2)
                            </li>
                            <li class="cat-item cat-item-11"><a href="#">Male Reproductive Health</a> (2)
                            </li>
                            <li class="cat-item cat-item-16"><a href="#">Pregnant Care</a> (2)
                            </li>
                            <li class="cat-item cat-item-14"><a href="#">Same Sex Parents</a> (2)
                            </li>
                            <li class="cat-item cat-item-13"><a href="#">Success Stories</a> (2)
                            </li>
                            <li class="cat-item cat-item-10"><a href="#">Tips</a> (2)
                            </li>
                        </ul>
                    </aside>
                    <aside id="tag_cloud-2" class="widget widget_tag_cloud"><h2 class="widget-title">Tags</h2>
                        <div class="tagcloud"><a href="#" class="tag-cloud-link tag-link-24 tag-link-position-1"
                                                 style="font-size: 14px;">Facelifts</a>
                            <a href="#" class="tag-cloud-link tag-link-25 tag-link-position-2" style="font-size: 14px;">Liposuction</a>
                            <a href="#" class="tag-cloud-link tag-link-26 tag-link-position-3" style="font-size: 14px;">Minor
                                surgery</a>
                            <a href="#" class="tag-cloud-link tag-link-23 tag-link-position-4" style="font-size: 14px;">Neurosurgery</a>
                            <a href="#" class="tag-cloud-link tag-link-22 tag-link-position-5" style="font-size: 14px;">Pediatric
                                surgery</a>
                            <a href="#" class="tag-cloud-link tag-link-20 tag-link-position-6" style="font-size: 14px;">Plastic
                                surgeries</a>
                            <a href="#" class="tag-cloud-link tag-link-59 tag-link-position-7" style="font-size: 14px;">Reconstructive
                                surgery</a>
                            <a href="#" class="tag-cloud-link tag-link-21 tag-link-position-8" style="font-size: 14px;">Surgical
                                equipment</a></div>
                    </aside>
                    <aside id="talkitthru_widget_subscribe_follow-4" class="widget widget-subscribe">
                        <div class="subscribe-block">

                            <h2 class="widget-title">Newsletter</h2>
                            <div class="subscribe-block__message">Sign up for our newsletter to get the updates</div>
                            <form method="POST" action="#" class="subscribe-block__form"><input type="hidden"
                                                                                                name="nonce"
                                                                                                value="634b34def9">
                                <div class="subscribe-block__input-group"><input class="subscribe-block__input"
                                                                                 type="email" name="subscribe-mail"
                                                                                 value=""
                                                                                 placeholder="enter your email"><a
                                        href="#" class="subscribe-block__submit btn btn-secondary">Subscribe</a></div>
                                <div class="subscribe-block__messages">
                                    <div class="subscribe-block__success hidden">You successfully subscribed</div>
                                    <div class="subscribe-block__error hidden"></div>
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
            </div><!-- .row -->

        </div><!-- .container -->


    </div><!-- #content -->
