<link type="text/css" rel="stylesheet" href="/assets/css/request_tm-builder-advanced-style.css">
<div id="content" class="site-content">

        <div class="site-content_wrap">

            <div class="row">

                <div id="primary" class="col-xs-12 col-md-12">

                    <main id="main" class="site-main" role="main">

                        <article id="post-969" class="post-969 page type-page status-publish hentry no-thumb">


                            <header class="entry-header">
                                <h1 class="entry-title screen-reader-text">Request an appointment</h1></header>
                            <!-- .entry-header -->

                            <div class="entry-content">
                                <div class="tm_builder_outer_content" id="tm_builder_outer_content">
                                    <div class="tm_builder_inner_content tm_pb_gutters3">
                                        <div class="tm_pb_section  tm_pb_section_0 tm_pb_with_background tm_section_regular tm_section_transparent">


                                            <div class="container">
                                                <div class=" row tm_pb_row tm_pb_row_0">

                                                    <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tm_pb_vertical_alligment_start">

                                                        <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_0">

                                                            <h2>GP consultations</h2>

                                                        </div> <!-- .tm_pb_text -->
                                                    </div> <!-- .tm_pb_column -->

                                                </div> <!-- .tm_pb_row -->
                                            </div>


                                        </div> <!-- .tm_pb_section -->
                                        <div class="tm_pb_section  tm_pb_section_1 tm_section_regular tm_section_transparent">


                                            <div class="container">
                                                <div class=" row tm_pb_row tm_pb_row_1">

                                                    <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_1 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tm_pb_vertical_alligment_start">

                                                        <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center  tm_pb_text_1">

                                                            <h3>Select Date and Time of &nbsp;the Consultation</h3>

                                                        </div> <!-- .tm_pb_text -->
                                                    </div> <!-- .tm_pb_column -->

                                                </div> <!-- .tm_pb_row -->
                                            </div>
                                            <div class="container">
                                                <div class=" row tm_pb_row tm_pb_row_2">

                                                    <div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_2 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm_pb_vertical_alligment_start">

                                                        <hr class="tm_pb_module tm_pb_space tm_pb_divider_0">
                                                        <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_2">

                                                            <h2>Request a Consultation</h2>
                                                            <p>We’ll be glad to help you book a therapy session with
                                                                us!</p>

                                                        </div> <!-- .tm_pb_text -->
                                                        <hr class="tm_pb_module tm_pb_space tm_pb_divider_1">
                                                        <div class="tm_pb_booked_calendar tm_pb_booked_calendar_0">
                                                            <div class="booked-calendar-shortcode-wrap">
                                                                <!-- ntk -->
                                                                <!-- <div id="data-ajax-url">TalkItThru.html</div> -->

                                                                <div class="booked-calendarSwitcher">
                                                                    <p><i class="fa fa-calendar"></i><select
                                                                            name="booked_calendar_chooser_1308449"
                                                                            id="booked_calendar_chooser_1308449"
                                                                            class="booked_calendar_chooser">
                                                                        <option value="0">Default Calendar</option>
                                                                        <option class="level-0" value="51">Dana Farell
                                                                        </option>
                                                                        <option class="level-0" value="50">Daniel
                                                                            Leroi
                                                                        </option>
                                                                        <option class="level-0" value="44">Dean Thomas
                                                                        </option>
                                                                        <option class="level-0" value="48">Gary Truman
                                                                        </option>
                                                                        <option class="level-0" value="31"
                                                                                selected="selected">Jerry McStanton
                                                                        </option>
                                                                        <option class="level-0" value="49">John
                                                                            Peterson
                                                                        </option>
                                                                        <option class="level-0" value="45">Lewis
                                                                            Parole
                                                                        </option>
                                                                        <option class="level-0" value="46">Phil
                                                                            Beasley
                                                                        </option>
                                                                        <option class="level-0" value="47">Tom Neville
                                                                        </option>
                                                                    </select></p>
                                                                </div>
                                                                <div class="booked-calendar-wrap "
                                                                     style="height: 455px;">
                                                                    <table class="booked-calendar"
                                                                           data-calendar-id="31">
                                                                        <thead>
                                                                        <tr>
                                                                            <th colspan="7">
										<span class="calendarSavingState">
						<i class="fa fa-refresh fa-spin"></i>
					</span>
					<span class="monthName">
						May 2018											</span>
                                                                                <a href="#" data-goto="2018-06-01"
                                                                                   class="page-right"><i
                                                                                        class="fa fa-arrow-right"></i></a>
                                                                            </th>
                                                                        </tr>
                                                                        <tr class="days">
                                                                            <th>Mon</th>
                                                                            <th>Tue</th>
                                                                            <th>Wed</th>
                                                                            <th>Thu</th>
                                                                            <th>Fri</th>
                                                                            <th>Sat</th>
                                                                            <th>Sun</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr class="week">
                                                                            <td data-date="2018-4-30" class="blur"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">30</span></span></td>
                                                                            <td data-date="2018-05-1" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">1</span></span></td>
                                                                            <td data-date="2018-05-2" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">2</span></span></td>
                                                                            <td data-date="2018-05-3" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">3</span></span></td>
                                                                            <td data-date="2018-05-4" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">4</span></span></td>
                                                                            <td data-date="2018-05-5" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">5</span></span></td>
                                                                            <td data-date="2018-05-6" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">6</span></span></td>
                                                                        </tr>
                                                                        <tr class="week">
                                                                            <td data-date="2018-05-7" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">7</span></span></td>
                                                                            <td data-date="2018-05-8" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">8</span></span></td>
                                                                            <td data-date="2018-05-9" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">9</span></span></td>
                                                                            <td data-date="2018-05-10" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">10</span></span></td>
                                                                            <td data-date="2018-05-11" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">11</span></span></td>
                                                                            <td data-date="2018-05-12" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">12</span></span></td>
                                                                            <td data-date="2018-05-13"
                                                                                class="today prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">13</span></span></td>
                                                                        </tr>
                                                                        <tr class="week">
                                                                            <td data-date="2018-05-14" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">14</span></span></td>
                                                                            <td data-date="2018-05-15" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">15</span></span></td>
                                                                            <td data-date="2018-05-16" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">16</span></span></td>
                                                                            <td data-date="2018-05-17" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">17</span></span></td>
                                                                            <td data-date="2018-05-18" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">18</span></span></td>
                                                                            <td data-date="2018-05-19" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">19</span></span></td>
                                                                            <td data-date="2018-05-20" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">20</span></span></td>
                                                                        </tr>
                                                                        <tr class="week">
                                                                            <td data-date="2018-05-21" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">21</span></span></td>
                                                                            <td data-date="2018-05-22" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">22</span></span></td>
                                                                            <td data-date="2018-05-23" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">23</span></span></td>
                                                                            <td data-date="2018-05-24" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">24</span></span></td>
                                                                            <td data-date="2018-05-25" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">25</span></span></td>
                                                                            <td data-date="2018-05-26" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">26</span></span></td>
                                                                            <td data-date="2018-05-27" class="prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">27</span></span></td>
                                                                        </tr>
                                                                        <tr class="week">
                                                                            <td data-date="2018-05-28" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">28</span></span></td>
                                                                            <td data-date="2018-05-29" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">29</span></span></td>
                                                                            <td data-date="2018-05-30" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">30</span></span></td>
                                                                            <td data-date="2018-05-31" class=""
                                                                                style="height: 65.6px;"><span
                                                                                    class="date tooltipster tooltipstered"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">31</span></span></td>
                                                                            <td data-date="2018-6-1"
                                                                                class="blur prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">1</span></span></td>
                                                                            <td data-date="2018-6-2"
                                                                                class="blur prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">2</span></span></td>
                                                                            <td data-date="2018-6-3"
                                                                                class="blur prev-date"
                                                                                style="height: 65.6px;"><span
                                                                                    class="date"
                                                                                    style="line-height: 65.6px;"><span
                                                                                    class="number">3</span></span></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div><!-- .tm_pb_booked_calendar -->
                                                    </div> <!-- .tm_pb_column -->
                                                    <div class="tm_pb_column tm_pb_column_1_2  tm_pb_column_3 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm_pb_vertical_alligment_start">

                                                        <hr class="tm_pb_module tm_pb_space tm_pb_divider_2">
                                                        <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_left  tm_pb_text_3">

                                                            <h2>Medical Questions</h2>
                                                            <p>Specify your medical question or concern in this
                                                                form,<br>and send it to us for a review.</p>

                                                        </div> <!-- .tm_pb_text -->
                                                        <div id="tm_pb_contact_form_0"
                                                             class="tm_pb_contact_form tm_pb_contact_form_0 tm_pb_contact_form_container clearfix tm_pb_module"
                                                             data-form_unique_num="0"><h2
                                                                class="tm_pb_contact_main_title"></h2>
                                                            <!-- ntk -->
                                                            <!-- <form class="tm_pb_contact_form clearfix" method="post" action="Request an appointment – TalkItThru.html"> -->
                                                            <form class="tm_pb_contact_form clearfix" method="post"
                                                                  action="">
                                                                <div class="tm-pb-contact-message"></div>
                                                                <div class="row">

                                                                    <div class="tm_pb_contact_field col-md-6  tm_pb_contact_field_0">
                                                                        <input type="text"
                                                                               id="tm_pb_contact_first name_1"
                                                                               class="tm_pb_contact_form_input" value=""
                                                                               name="tm_pb_contact_first name_1"
                                                                               placeholder="first name"
                                                                               data-required_mark="required"
                                                                               data-field_type="input"
                                                                               data-original_id="first name"
                                                                               data-original_title="first name"></div>
                                                                    <div class="tm_pb_contact_field col-md-6  tm_pb_contact_field_1">
                                                                        <input type="text"
                                                                               id="tm_pb_contact_second name_1"
                                                                               class="tm_pb_contact_form_input" value=""
                                                                               name="tm_pb_contact_second name_1"
                                                                               placeholder="second name"
                                                                               data-required_mark="required"
                                                                               data-field_type="input"
                                                                               data-original_id="second name"
                                                                               data-original_title="second name"></div>
                                                                    <div class="tm_pb_contact_field col-md-12  tm_pb_contact_field_2">
                                                                        <input type="text" id="tm_pb_contact_name_1"
                                                                               class="tm_pb_contact_form_input" value=""
                                                                               name="tm_pb_contact_name_1"
                                                                               placeholder="your name"
                                                                               data-required_mark="required"
                                                                               data-field_type="input"
                                                                               data-original_id="name"
                                                                               data-original_title="name"></div>
                                                                    <div class="tm_pb_contact_field col-md-12  tm_pb_contact_field_3">
                                                                        <input type="email" id="tm_pb_contact_email_1"
                                                                               class="tm_pb_contact_form_input" value=""
                                                                               name="tm_pb_contact_email_1"
                                                                               placeholder="your email"
                                                                               data-required_mark="required"
                                                                               data-field_type="email"
                                                                               data-original_id="email"
                                                                               data-original_title="email"></div>
                                                                    <div class="tm_pb_contact_field col-md-12  tm_pb_contact_field_4">
                                                                        <textarea name="tm_pb_contact_message_1"
                                                                                  id="tm_pb_contact_message_1"
                                                                                  class="tm_pb_contact_message tm_pb_contact_form_input"
                                                                                  placeholder="your message"
                                                                                  data-required_mark="required"
                                                                                  data-field_type="text"
                                                                                  data-original_id="message"
                                                                                  data-original_title="message"></textarea>
                                                                    </div>

                                                                </div>
                                                                <input type="hidden" value="tm_contact_proccess"
                                                                       name="tm_pb_contactform_submit_0">
                                                                <input type="text" value=""
                                                                       name="tm_pb_contactform_validate_0"
                                                                       class="tm_pb_contactform_validate_field">
                                                                <div class="tm_contact_bottom_container">
                                                                    <button type="submit"
                                                                            class="tm_pb_contact_submit tm_pb_button">
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                                <!-- <input type="hidden" id="_wpnonce-tm-pb-contact-form-submitted" name="_wpnonce-tm-pb-contact-form-submitted" value="83ab1e471b"><input type="hidden" name="_wp_http_referer" value="/wordpress_64100/request-an-appointment/"></form></div> -->
                                                                <input type="hidden"
                                                                       id="_wpnonce-tm-pb-contact-form-submitted"
                                                                       name="_wpnonce-tm-pb-contact-form-submitted"
                                                                       value="83ab1e471b"><input type="hidden"
                                                                                                 name="_wp_http_referer"
                                                                                                 value=""></form>
                                                        </div>
                                                        <!-- .tm_pb_contact_form -->
                                                    </div> <!-- .tm_pb_column -->

                                                </div> <!-- .tm_pb_row -->
                                            </div>


                                        </div> <!-- .tm_pb_section -->
                                        <div class="tm_pb_section  tm_pb_section_2 tm_pb_with_background tm_section_regular tm_section_transparent">


                                            <div class="container">
                                                <div class=" row tm_pb_row tm_pb_row_3">

                                                    <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_4 tm_pb_column_empty col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tm_pb_vertical_alligment_start">


                                                    </div> <!-- .tm_pb_column -->

                                                </div> <!-- .tm_pb_row -->
                                            </div>


                                        </div> <!-- .tm_pb_section -->

                                    </div>
                                </div>
                            </div><!-- .entry-content -->

                            <footer class="entry-footer">
                            </footer><!-- .entry-footer -->

                        </article><!-- #post-## -->

                    </main><!-- #main -->


                </div><!-- #primary -->


            </div><!-- .row -->

        </div><!-- .container -->


    </div><!-- #content -->